<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 1</title>
</head>
<body>
    <h1>Pokedex API Project</h1>
    <div class = "endpoint">
        <h2>/getPokemon</h2>
        <form action="/getPokemon" method="GET">
            <label for="id">ID: </label>
            <input name="id" type="text">
            <label for="Name">Name: </label>
            <input name="Name" type="text">
            <label for="Type">Type: </label>
            <input name="Type" type="text">
            <input type="submit" text="Send Request" />
        </form>
    </div>

    <a href="/getData">View Raw Data</a>
</body>
</html>